.container {
    margin: 0 auto;
    max-width: 1300px;

    .subscribe {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #e7e7e7;
        padding: 40px 0;

        .left {
            display: flex;
            align-items: center;

            .content {
                margin-right: 4.8rem;

                h3 {
                    letter-spacing: 0.075em;
                    font-size: 14px;
                    padding-bottom: 1px;
                    margin-bottom: 0.4rem;
                    text-transform: uppercase;
                    line-height: 1.429;
                    color: #222529;
                    font-weight: 700;
                    font-family: Poppins, sans-serif;
                }

                p {
                    font-size: 13px;
                    font-family: "Open Sans", sans-serif;
                    line-height: 20px;
                    letter-spacing: 0;
                    color: #777777;
                }
            }

            form {
                display: flex;
                width: 384px;

                input {
                    padding: 16px 12px 14px;
                    width: 100%;
                    height: auto;
                    color: #777;
                    background-color: #f4f4f4;
                    font-family: "Open Sans", sans-serif;
                    border: none;
                }

                button {
                    padding: 0.7em 1.244em 0.6em;
                    border-color: #222529;
                    background-color: #222529;
                    color: #fff;
                    border: none;

                }

            }
        }

        .icon {
            i {
                padding-right: 20px;
                font-size: 20px;
            }
        }
    }

    .widget {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #e7e7e7;
        padding: 40px 0;

        .widget-title {
            h3 {
                font-family: Poppins, sans-serif;
                line-height: 1.4;
                margin: 0 0 1.5rem;
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 700;
                color: #313131;
            }

            .link {
                display: flex;
                justify-content: space-between;

                .content {
                    padding-right: 40px;

                    h3,
                    h4 {
                        font-weight: 400;
                        font-size: 13px;
                        font-family: "Open Sans", sans-serif;
                        letter-spacing: 0.005em;
                        color: #000;
                    }

                    a {
                        font-size: 13px;
                        color: #90969a;
                        white-space: nowrap;
                    }

                    li {
                        a {
                            font-size: 13px;
                            color: #90969a;
                        }
                    }
                }
            }
        }
    }

    .payment {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e7e7e7;
        padding: 40px 0;

        span {
            font-size: 13px;
            color: #90969a;
        }

        img {
            width: 56px;
            height: 32px;
        }
    }
}